@use "../core/variables" as vars;

.footer {
  color: vars.$color-secondary;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-inline: 20px;
  padding-bottom: 10px;
  bottom: 0;

  &__info {
    text-align: center;
    font-size: 12px;
    font-style: italic;
  }

  &__mensaje {
    text-align: center;
    font-size: 14px;
  }
}
