@use "../core/variables" as vars;

.all {
  display: flex;
  padding: 5%;

}

/*Sección del formulario */
.toggleDesign {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-bottom: 2rem;
}

.create {
  flex: 1;
  background-color: vars.$color-bg;
  border-radius: 15px;
  padding: 2rem;
}

  .radio-group label {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #fdfdfd;
    cursor: pointer;
  }
  
  .radio-group input[type="radio"] {
    margin-left: 0,2rem;
    margin-top: -10px;;
  }
  
  input, select {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.3rem;
    border-radius: 0.5rem;
    border: none;
    background: vars.$color-primary;
    color: vars.$color-emphasis;
  }
  
  input[type="color"] {
    padding: 0.2rem;
    height: 40px;
  }
  
  button.formBtn {
    margin-top: 1.5rem;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 0.7rem;
    background: vars.$color-secondary;
    color: vars.$color-emphasis;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* Sección de previsualización */
  .preview {
    flex: 1;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    // background-image: url('../images/cat-pattern.jpeg'); // ajusta ruta si es necesario
    background-color: vars.$color-primary;
    background-size: cover;
    background-position: center;
  }
  
  
  .preview__card {
    background: vars.$color-emphasis;
    padding: 1.5rem;
    border-radius: 1rem;
    color:#9b59b6;
    width: 400px;
    height: 500px;
    text-align: center;
    border: 2px solid vars.$color-secondary;
    box-shadow: 0 0 10px vars.$color-secondary;
  }
  
  .preview__card p {
    margin: 0.5rem 0;
    font-style: italic;
  }
  
  .preview__card img {
    border-radius: 50%;
    margin: 1rem auto;
    width:200px;
    height: 200px;
    object-fit: cover;
    border: 2px solid #ff7300;
    position: center;
  }
  
  .preview button {
    margin-top: 2rem;
    background: #9b59b6;
    color: #fff;
    padding: 0.7rem 1.2rem;
    border: none;
    border-radius: 0.7rem;
    cursor: pointer;
    box-shadow: 0 0 100px #9b59b6;
  }

  .js_preview_card.agua {
  background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url("/images/water.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.js_preview_card.fuego {
  background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url("/images/fire.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.js_preview_card.tierra {
  background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url("/images/earth.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.js_preview_card.aire {
  background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url("/images/air.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

  //Ocultar las secciones
  .collapsed {
  display: none;
  }

  //medias queries tablet//
  @media screen and (max-width: 780px) {
    .all {
      flex-direction: column;
      align-items: center;
    }
  
    .create,
    .preview {
      width: 100%;
      max-width: 780px;
    }
  }
  //medias queries mobile//
  @media screen and (max-width: 430px) {
    .all {
      padding: 1rem;
      gap: 1.5rem;
    }
  
    .create,
    .preview {
      padding-right: 1rem;
      width: 100%;
      max-width: 100%;
    }
  
    .preview__card {
      width: 100%;
    }
  
    .preview__card img {
      width: 150px;
      height: 150px;
    }
  
    form input,
    form select,
    form label {
      font-size: 1rem;
    }
  }
    form input,
  form select {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  
