@use '../core/variables' as vars;

/* Estilo general */
body {
    font-family: 'Cinzel', serif;
    background: vars.$color-bg;
    color: vars.$color-emphasis;
    margin: 0;
    padding: 0;
  }
  
  /* Contenedor principal */
  .all {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    gap: 1rem;
    max-width: 65%;
  }

  /*Previsualización*/


