<main class="page__main">
  <div class="all">
    <div class="create">
      <section class="design">
        <div class="js_toggleDesign toggleDesign">
          <h2>Elige tu diseño:</h2>
          <i class="fa-solid fa-arrow-down"></i>
        </div>
        <div class="js_containerDesign collapsed elements radio-group">
          <input type="radio" id="design1" name="elemento" value="agua" checked />
          <label for="design1">Agua (Escorpio, Piscis, Cáncer)</label>

          <input type="radio" id="design2" name="elemento" value="fuego" />
          <label for="design2">Fuego (Sagitario, Leo, Aries)</label>

          <input type="radio" id="design3" name="elemento" value="tierra" >
          <label for="design3">Tierra (Capricornio, Tauro, Virgo)</label>

          <input type="radio" id="design4" name="elemento" value="aire"/>
          <label for="design4">Aire (Acuario, Géminis, Libra)</label>
        </div>
      </section>

      <section class="form">
        <div class="js_toggleFill toggleDesign">
          <h2>Rellena: </h2>
          <i class="fa-solid fa-arrow-down js_headerFill"></i>
        </div>
        <div class="js_containerFill collapsed">
          <form method="POST">
            <label for="name"></label>
            <input type="text" id="name" placeholder="Escribe aquí tu nombre" />

            <label for="zodiacSign">Signo:</label>
            <select
              id="signo-zodiacal"
              name="signo-zodiacal"
              class="js_signo-zodiacal"
            >
              <option value="">Elige tu signo</option>
              <option value="aries">Aries ♈</option>
              <option value="tauro">Tauro ♉</option>
              <option value="geminis">Géminis ♊</option>
              <option value="cancer">Cáncer ♋</option>
              <option value="leo">Leo ♌</option>
              <option value="virgo">Virgo ♍</option>
              <option value="libra">Libra ♎</option>
              <option value="escorpio">Escorpio ♏</option>
              <option value="sagitario">Sagitario ♐</option>
              <option value="capricornio">Capricornio ♑</option>
              <option value="acuario">Acuario ♒</option>
              <option value="piscis">Piscis ♓</option>
            </select>

            <label for="color">Elige tu color favorito:</label>
            <input type="color" id="color" class="js_color" />

            <label for="birthDate">Tu fecha de nacimiento:</label>
            <input type="date" id="birthDate" />

            <label for="mobileNumber">Escribe tu número de móvil</label>
            <input type="number" id="mobileNumber" placeholder="123456789" />

            <label for="instagram">Tu @ instagram</label>
            <input type="text" id="instagram" placeholder="@hola" />

            <div class="input-foto"><label for="foto"></label>
            <div></div><input type="file" id="image" class="js_image js__profile-upload-btn " /></div>
            <div class="paint-photo"><div class="botonfalso"><label class="img-bt"  for="image">Sube una foto tuya:</label></div>
            <div class="js__profile-preview miniphoto js_preview__cardimg"></div>
          </div>

          </form>
        </div>
      </section>

      <section class="share">
        <div class="js_toggleShare toggleDesign">
          <h2>Comparte: </h2>
          <i class="fa-solid fa-arrow-down js_headerShare"></i>
        </div>
        <div class="js_containerShare collapsed">
          <button class="formBtn js_formBtn">Crea tarjeta</button>
          <a class="ViewBtn js_viewBtn"> </a>
        </div>
      </section>
    </div>

    <div class="preview">
      <section>
        <h2>Previsualización tarjeta</h2>
        <div class="preview__card js_preview_card">

          <div class="hashtag"> <p class="js_namePreview" data-placeholder="Aquí va el nombre"> 
          Aquí va el nombre </p></div>

          <div class="hashtag"><p class="js_signoPreview" data-placeholder="Aquí va el signo"> 
          Aquí va el signo </p></div>

          <img class="js_preview__cardimg js__profile-image" src="https://placecats.com/100/100" alt="foto"/>

          <div class="hashtag"><p class="js_datePreview" data-placeholder="Aquí va la fecha de nacimiento"> Aquí va la fecha de nacimiento</p></div>

          <div class="hashtag"><p class="js_mobilePreview" data-placeholder="Aquí va el mobil"> Aquí va el móvil</p></div>
          <div class="hashtag"><p class="js_igPreview" data-placeholder="Aquí va @hola"> Aquí va @hola</p></div>

        </div>
        <button type="button" class="js_resetBtn">Reset</button>
      </section>
    </div>
  </div>
</main>
