<main class="page__main">
  <h2>Aquí podrás crear tu tarjeta</h2>
  <p>¿Necesitas una tarjeta para tu evento?</br>
    No te preocupes, ¡aquí tienes la solución!</p>

  <div class="main__containerIcons">
    <span class="main__containerIcons_element"><i class="fa-solid fa-palette"></i> Diseña</span>
    <span class="main__containerIcons_element"><i class="fa-solid fa-keyboard"></i>Rellana</span>
    <span class="main__containerIcons_element"><i class="fa-solid fa-share-nodes"></i>Comparte</span>
  </div>
  <a href="../form.html"><button>Crear tarjeta <i class="fa-solid fa-arrow-right"></i></button></a> 
  
</main>
